{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1 class="h3 mb-3 font-weight-normal">Anmelden</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="text-center small-text-center">
                    Willkommen beim valantic Tippspiel. Wenn du bereits ein Konto hast, kannst du dich hier anmelden.
                    Andernfalls erstelle bitte dein persönliches Konto
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto centered">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email"
                       value="{{ last_username }}" name="username" id="inputEmail" autocomplete="email"
                       required autofocus><br>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <input type="password" name="password" id="inputPassword" class="form-control"
                       autocomplete="current-password" required placeholder="Passwort" aria-label="Passwort"><br>
            </div>
        </div>


        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}
        <div class="row justify-content-center">
            <div class="col-auto ">
                <button class="btn btn-lg btn-primary button-prim" type="submit">
                    Sign in
                </button>
            </div>
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </form>
{% endblock %}
