<div class="row">
    <div class="col">
        <h2>Live</h2>
        <table class="table table-hover table-dark table-live">
            <thead>
            <tr>
                <th scope="col">Freitag, 11.08.2021</th>
                <th scope="col" class="center-td">Live</th>
                <th scope="col" class="center-td">Dein Tipp</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row"><img src="https://www.countryflags.io/fr/flat/32.png">&nbsp;&nbsp;&nbsp;&nbsp;Frankreich</td>
                <td class="center-td">0</td>
                <td class="center-td">2</td>
                <td rowspan="2"  style="vertical-align : middle;text-align:center;"><span class="text-primary">'52</span> <span class="badge badge-pill badge-danger">Live</span></td>
            </tr>
            <tr>
                <td scope="row"><img src="https://www.countryflags.io/de/flat/32.png">&nbsp;&nbsp;&nbsp;&nbsp;Deutschland</td>
                <td class="center-td">1</td>
                <td class="center-td">1</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>