$primary-red: #FF4B4B;
$primary-red-hover: #D72F2F;
$input-bg: #fff;


$theme-colors: (
        "primary": #71DD5F,
        "secondary": #E8E4D4,
        "gray": #99AAA9,
        "warning": #F9BD49,
        "success": #81CC53,
        "error": #E93030,
        "info": #5392CC,
        "danger": #E93030
);
