@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@300;400&family=Graduate&display=swap');

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

.score{
  font-family: 'Graduate', cursive;
  font-size: 28px;
  font-weight: lighter;
}
body{
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
}
p{
  font-family: Chakra Petch;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 25px;
}
h1{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
}
h2{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
}
h3{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
}
h4{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}
h5{
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}