{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto centered">
            <input type="email" value="{{ email }}" name="email" id="inputEmail" class="form-control" autocomplete="your email" required placeholder="Email" aria-label="Email"><br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto centered">
            <input type="text" value="{{ username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocu placeholder="Username" aria-label="Username"><br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto centered">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Passwort" aria-label="Passwort"><br>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto centered">
            <select class="form-control" style="margin: 3px 0" name="tip1" required>
                <option value="">--Please choose an winner--</option>
                <option value="AT">Austria</option>
                <option value="BE">Belgium</option>
                <option value="CH">Switzerland</option>
                <option value="CZ">Czech Republic</option>
                <option value="DE">Germany</option>
                <option value="DK">Denmark</option>
                <option value="EN">England</option>
                <option value="ES">Spain</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="HR">Croatia</option>
                <option value="HU">Hungary</option>
                <option value="IT">Italy</option>
                <option value="MK">North Macedonia</option>
                <option value="NL">Netherlands</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="RU">Russia</option>
                <option value="SC">Scotland</option>
                <option value="SE">Sweden</option>
                <option value="SK">Slovakia</option>
                <option value="TR">Turkey</option>
                <option value="UA">Ukraine</option>
                <option value="WL">Wales</option>
            </select>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-auto centered">
            <select  class="form-control" style="margin: 20px 0" name="tip2" required>
                <option value="">--Please choose an secret winner--</option>
                <option value="AT">Austria</option>
                <option value="BE">Belgium</option>
                <option value="CH">Switzerland</option>
                <option value="CZ">Czech Republic</option>
                <option value="DE">Germany</option>
                <option value="DK">Denmark</option>
                <option value="EN">England</option>
                <option value="ES">Spain</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="HR">Croatia</option>
                <option value="HU">Hungary</option>
                <option value="IT">Italy</option>
                <option value="MK">North Macedonia</option>
                <option value="NL">Netherlands</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="RU">Russia</option>
                <option value="SC">Scotland</option>
                <option value="SE">Sweden</option>
                <option value="SK">Slovakia</option>
                <option value="TR">Turkey</option>
                <option value="UA">Ukraine</option>
                <option value="WL">Wales</option>
            </select>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-auto ">
            <button class="btn btn-lg btn-primary button-prim" type="submit">
                Sign in
            </button>
        </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

</form>
{% endblock %}
